@import "tailwindcss";

@theme {
  /* Replace 'Geist Sans' with your actual font variable if using next/font */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
